GEMINI_API_KEY_NEW=
NEXT_PUBLIC_FIREBASE_PROJECT_ID_NEW=
NEXT_PUBLIC_FIREBASE_APP_ID_NEW=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET_NEW=
NEXT_PUBLIC_FIREBASE_API_KEY_NEW=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN_NEW=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID_NEW=
NEXT_PUBLIC_RAZORPAY_KEY_ID_NEW_NEW=
RAZORPAY_KEY_ID_NEW=
RAZORPAY_KEY_SECRET_NEW=
NEXT_PUBLIC_APP_URL=
RAZORPAY_WEBHOOK_SECRET_NEW=
FIREBASE_SERVICE_ACCOUNT_KEY_NEW=
SMTP_HOST_NEW=
SMTP_PORT=
SMTP_USER_NEW=
SMTP_PASS_NEW=
ADMIN_EMAIL=
RESEND_API_KEY_NEW=